
<div>
  <h3>Thanks for Registering</h3>
  <p>Please print this barcode</p>
  <svg id="barcode"></svg>
  <img src="<%= user.barCode %>" alt="Barcode">
</div>

<div>
  <a href="/login">Please login :)</a>
</div>

<script>
  JsBarcode("#barcode", "Hi!");
</script>
