
<div>
  <h3>Thanks for Registering</h3>
  <p>Please print this barcode</p>
  <svg id="barcode"></svg>
</div>

<div>
  <a href="/login">Please login :)</a>
</div>

<script>
  JsBarcode("#barcode", "<%= user.barCode %>");
</script>
