<div class="homepage">
  <div class="homepage-container">
    <h1 class="homepage-title">Pixel Penguin <img src="/images/logo.png" alt=""></h1>
    <p class="lead">Capturing Refugee Data</p>
    <div>
      <a class="btn btn-primary" href="/login">Login</a>
      <a class="btn btn-secondary" href="/register">Register</a>
    </div>
  </div>
</div>
