


<fieldset id = "pinbox">
	<legend id = "pin"> Pin </legend> 
		<form  id ="forms" action="/assignSession" method="post">
			<div>Please enter your pin number: </div>
			<input type="digit" name ="pin" id="pin" placeholder="Enter pin" />
		
</fieldset>

<button type="submit">Login</button>
		</form>