

<div class="pin">
  <div class="pin-container text-center row justify-content-center">
    <div class="col-md-8 mb-5">
      <form action="/assignSession" method="post">
        <div>
          <img class="avatar" src="/user/avatar/<%= user.id %>" alt="">
        </div>
        <h1>Hi! <%= user.firstName %> <%= user.lastName %></h1>
        <p class="lead">Please enter your pin.</p>
        <div class="form-group">
          <input class="form-control" type="password" name="pin" id="pin" placeholder="Enter pin">
        </div>
        <table class="calculator">
          <tbody>
            <tr>
              <td><button type="button" class="btn btn-outline-primary btn-calculator" data-value="7">7</button></td>
              <td><button type="button" class="btn btn-outline-primary btn-calculator" data-value="8">8</button></td>
              <td><button type="button" class="btn btn-outline-primary btn-calculator" data-value="9">9</button></td>
            </tr>
            <tr>
              <td><button type="button" class="btn btn-outline-primary btn-calculator" data-value="4">4</button></td>
              <td><button type="button" class="btn btn-outline-primary btn-calculator" data-value="5">5</button></td>
              <td><button type="button" class="btn btn-outline-primary btn-calculator" data-value="6">6</button></td>
            </tr>
            <tr>
              <td><button type="button" class="btn btn-outline-primary btn-calculator" data-value="1">1</button></td>
              <td><button type="button" class="btn btn-outline-primary btn-calculator" data-value="2">2</button></td>
              <td><button type="button" class="btn btn-outline-primary btn-calculator" data-value="3">3</button></td>
            </tr>
            <tr>
              <td></td>
              <td><button type="button" class="btn btn-outline-primary btn-calculator" data-value="0">0</button></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <button type="submit" class="btn btn-block btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('#pin').mask('000000');

    $('.btn-calculator').click(function() {
        if ($('#pin').val().length < 6) {
          $('#pin').val($('#pin').val() + $(this).data('value'));
        }
    });
  });
</script>
